<nav class="navbar navbar-default navbar-fixed-top">
  <div style="height:button.height+10px;border:0px;background-color:#f5f5f5;border-top: 5px solid #5987E6;"/>
	<div class="container">
		<div id="navbar">
			<ul class="nav navbar-nav navbar-left">
				<a href="{{ site.baseurl }}" class="button button" title="Home"><i class="fa fa-home"></i></a>
				<a href="{{ site.baseurl }}projects.html" class="button button" title="Projects">Projects</a>
				<a href="https://scholar.google.com/citations?user=kxFryjMAAAAJ&hl=en" class="button button" title="Publications">Publications</a>
				<!--a href="{{ site.baseurl }}publications.html" class="button button" title="Publications">Publications</a-->
				<a href="{{ site.baseurl }}blog.html" class="button button" title="Blog">Blog</a>
				<a href="{{ site.baseurl }}vitae/cv.pdf" class="button button" title="Resume">Resume</a>
			</ul>
		</div>
	</div>
</nav>
