<nav class="navbar navbar-default">
<style>
.button {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: 7DC3FF;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 2px 2px;
  cursor: pointer;
}
.button:hover {
  background: #eee;
  color: #5987E6;
}

</style>
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav navbar-left">
		<a href="{{ site.baseurl }}" class="button button" title="Home"><i class="fa fa-home"></i></a>
        <a href="{{ site.baseurl }}about.html" class="button button" title="About">About</a>
        <a href="{{ site.baseurl }}projects.html" class="button button" title="Projects">Projects</a>
        <a href="{{ site.baseurl }}blog.html" class="button button" title="Blog">Blog</a>
        <a href="{{ site.baseurl }}vitae/cv.pdf" class="button button" title="Resume">Resume</a>
      </ul>
    </div>
  </div>
</nav>